/*================================================================================
	Item Name: Crewnie Platform
	Version: 1.0
	Author: Ing. Alejandro Javier Villalón Navarro.
	Author URL: http://www.IngAjVillalon.com
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
